/*
	MINISTROS
*/

/*
Contenedor
*/

.contenedorMinistros section{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.tituloMinistro{
	width: 100%;
}
.caraMinistro{
	width: 100%;
}

.caraMinistro img{
	width: 100%;
}

.cartaMinistros{
	width: 200px;
	box-shadow: 1px 1px 3px black;
	border-radius: 10px;
}

/*
BOTON
*/

.jugar{
	font-size: 20px;
	padding: 8px 16px;
	border-radius: 5px;
	background-color: #B78BFF;
}